element.style {
}
<style>…</style>
html, body {
    min-height: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    background: salmon;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
    box-sizing: inherit;
}
html[Attributes Style] {
    -webkit-locale: "en";
}

html {
    display: block;
}

*, ::after, ::before {
    box-sizing: inherit;
}

*, ::after, ::before {
    box-sizing: inherit;
}